@import "~bootstrap-icons/font/bootstrap-icons.css";
* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 90%;
  margin: auto;
}
.midContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
  margin-top: -54px;
}
.midselectStyle {
  width: 245px;
  height: 36px;
}
.productStyle {
  border: 1px solid #f2f2f2;
  padding-top: 20px;
  box-shadow: 0px 0px 1px 1px #f7f1f1;
}
.navpage {
  margin-top: 16px;
  margin-right: 10px;
}
.dbuttomStyle {
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  background: #1111ea;
  border: none;
  border-radius: 10px;
  color: white;
}
.pagination {
  margin-top: 0px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 0px 1px 1px #f7f1f1;
}
.table td {
  border: none;
  border-bottom: 1px solid #ddd;
}
.table th {
  border: none;
  border-bottom: 1px solid #ddd;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
.upperbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  box-shadow: 0px 0px 1px 1px #f7f1f1;
  padding-left: 21px;
  padding-top: 15px;
  border-radius: 21px;
  margin-top: 30px;
}
input {
  border: none;
  padding: 8px;
  background-color: #f0f0f0;
}
input:focus {
  outline: none;
}
.searchIcon {
  border: 1px solid #b8b2b2;
  border-radius: 10px;
  text-align: center;
  background-color: #f0f0f0;
  padding-left: 10px;
}
.statusStyle {
  margin-left: -234px;
}
.categoryStyle {
  margin-left: -253px;
}
.topStyle {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.createStyle {
  height: 33px;
  width: 145px;
  background: #1111ea;
  border: none;
  border-radius: 10px;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.clableStyle {
  margin-top: -63px;
  margin-left: -81px;
}
.slabelStyle {
  margin-top: -56px;
}
.search-bar {
  margin-bottom: 20px;
}
.pstyle {
  margin-left: 10px;
}
.searchStyle {
  height: 33px;
  width: 145px;
  background: #1111ea;
  border: none;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
}
input[type="text"],
select {
  padding: 8px;
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.filters {
  margin-bottom: 20px;
}

input[type="text"],
select {
  padding: 8px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  table {
    border: 0;
  }
  .pstyle {
    margin-left: 4px;
    font-size: 15px;
    font-weight: bold;
  }
  .table td {
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .table th {
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .navpage {
    width: 129px;
    margin-top: 16px;
    margin-right: -285px;
  }
  .dbuttomStyle {
    font-size: 4px;
    width: 87px;
  }
  .midselectStyle {
    margin-left: 10px;
    width: 50px;
    font-size: 7px;
  }
  .search-bar {
    margin-left: -23px;
    width: 120px;
  }
  .searchIcon {
    display: flex;
    align-items: center;
    margin-left: 4px;
  }
  .SearchStyle {
    width: 69px;
    margin-left: 4px;
    height: 15px;
    border-radius: 10px;
  }
  .categoryStyle {
    margin-left: -62px;
    margin-top: 23px;
    width: 59px;
    height: 34px;
  }
  .searchStyle {
    width: 117px;
    margin-top: 24px;
    margin-right: 2px;
  }
  .clableStyle {
    margin-left: 9px;
  }
  .slabelStyle {
    margin-left: 9px;
  }
  .statusStyle {
    width: 58px;
    margin-top: 24px;
    margin-left: -51px;
    height: 35px;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border: 1px solid #ddd;
  }
  table td {
    display: block;
    text-align: right;
    border: none;
    position: relative;
  }
  table td:last-child {
    text-align: left;
  }
  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
  }
}
@media (max-width: 768px) {
  table {
    border: 0;
  }
  .midselectStyle {
    width: 73px;
    font-size: 6px;
    height: 30px;
    margin-left: 97px;
  }
  .dbuttomStyle {
    font-size: 6px;
  }
  .midContainer {
    margin-top: -19px;
    margin-right: 332px;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border: 1px solid #ddd;
  }

  table td {
    display: block;
    text-align: right;
    border: none;
    position: relative;
  }
  table td:last-child {
    text-align: left;
  }
  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
  }
  .table td {
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .table th {
    border: none;
    border-bottom: 1px solid #ddd;
  }
}
